body {
  margin: 0;
  font-family: Arial;
}

#map {
  height: 100vh;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background: #121212;
  color: white;
  overflow: auto;
  padding: 10px;
  z-index: 1000;
}

#sidebar.hidden {
  transform: translateX(-100%);
}

.circle-item {
  border-bottom: 1px solid #333;
  padding: 8px;
}

button {
  width: 100%;
  margin-top: 5px;
}
