html, body {
  margin: 0;
  height: 100%;
}

/* Map */
#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Sidebar (FORCE above map) */
#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background: #121212;
  color: white;
  padding: 10px;
  z-index: 10000; /* 🔥 critical */
}
