body {
  margin: 0;
  font-family: sans-serif;
}

#controls {
  padding: 10px;
  background: white;
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

#map {
  height: calc(100vh - 60px);
  width: 100%;
}


#sidebar {
  background: #121212;
  color: #ffffff;
  padding: 10px;
  width: 260px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  transition: transform 0.3s ease;
}

#sidebar.hidden {
  transform: translateX(-100%);
}

.circle-item {
  border-bottom: 1px solid #333;
  padding: 8px 0;
}

button {
  margin-top: 5px;
}
